@tailwind base;
@tailwind components;
@tailwind utilities;

#pdf-viewer {
    position: relative !important;
    overflow: hidden;
    max-width: 880px;  /* Added this line */
    margin: 0 auto;    /* Center the viewer */
}

#pdf-viewer canvas {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.signature-preview {
    position: absolute !important;
    touch-action: none;
    user-select: none;
    z-index: 100;
    pointer-events: auto;
    cursor: move;
}

#signature-pad {
    touch-action: none;
}